<h2 class="text-center">Tipo de búsqueda</h2>
<hr class="mt-4">

<ul class="list-group">

  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true}"
    class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>

  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li> -->

  <a routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item btn btn-secondary mb-2 border border-primary">
    Capital
  </a>

  <a routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item btn btn-secondary mb-2 border border-primary">
    País
  </a>

  <a routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item btn btn-secondary border border-primary">
    Region
  </a>

</ul>
